/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'PT Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET */
body {
	background: #4F888C;
	padding-top: 60px;
}

a, a:visited {
	color: #1d3461;
}

/* header */
header, footer {
	margin: 0 auto;
	position: fixed;
	width: 100vw;
	text-align: center;
	background: #4F888C;
}
header {
	top: 0;
}
header a, header h1, header a:visited {
	display: inline-block;
	text-transform: uppercase;
    padding: 8px 13px;
    line-height: 32px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-weight: 700;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
header a:hover, header a:active, header h1 a {
	color: #1d3461;
	border-bottom: 2px solid #ed5565;
}

/* Main */
.home main {
	padding-top: 30vh;
	font-size: 6.6666666666667vw;
	color: white;
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
}
.home main p {
	margin: 1vh;
	font-size: 85%;
}

@media screen and (min-width: 1200px) {
	.home main {
		font-size: 80px;
	}
}

h2 {
	font-size: 22px;
	margin-bottom: 0.5em;
	color: #1d3461;
}
h3 {
	font-size: 20px;
	margin-bottom: 0.5em;
}
h4 {
	font-size: 18px;
	margin-bottom: 0.5em;
}
strong {
	font-weight: bold;
}

section {
	max-width: 1000px;
	margin: 18px auto;
	color: white;
	clear: both;
	padding-left: 10px;
    padding-right: 10px;
}

.resume section img {
	float: left;
	width: 75px;
	margin-right: 7px;
	margin-bottom: 7px;
	background: white;
}
.resume section p, .resume section ul {
	clear: both;
}
.resume section ul,
.aspirations ul {
	padding-left: 21px;
}
.resume section li,
.aspirations li {
	list-style-type: disc;
}

.resume .compact li, .tech {
	list-style-type: none;
	display: inline-block;
	padding: 1.5px 3px;
	border-radius: 1.5px;
	background-color: #e1ca96;
	margin-bottom: 2.5px;
	font-size: 90%;
	color: #1d3461;
}

.item {
	margin: 15px 0 30px;
	padding: 0 35px;
	clear: both;
}

/* Footer */
footer {
	bottom: 0;
}
footer a, footer a:visited {
	display: inline-block;
    padding: 8px 13px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
footer a:hover, footer a:active {
	color: #ed5565;
}
footer img {
	width: 55px;
	filter: invert(100%);
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.personal img {
	float: right;
	width: 604px;
	max-width: calc(100vw - 20px);
	margin: 0 0 10px 10px;
}

.contact p {
	line-height: 80px;
	font-size: 20px;
}
.contact img {
	width: 55px;
	vertical-align: middle;
	margin-right: 15px;
	filter: invert(100%);
}

.contact section {
	max-width: 350px;
}

p {
	margin-bottom: 1em;
}